:root {
  /* Text Fonts */
  --primary-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;
  /* Text colors */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --hero-text-color: #ffffff;
  /* Bg colors */
  --hero-background-color: #c4c4c4;
  --team-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --btn-focus-background-color: #188ce8;
  /* Flex */
  --item: 3;
  --card-set-gap: 30px;
  /* Animation */
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* Selector Body */
body {
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.line {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* Main Header Flex */
.hero__button, .modal-submit-btn, .subscribe-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-text-color);
  color: var(--hero-text-color);
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 1199px) {
  .subscribe-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form__field {
    margin-right: 12px;
  }
}
.subscribe-form__label {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.subscribe-form__input {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 16px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .subscribe-form__input {
    width: 450px;
  }
}
@media screen and (max-width: 1199px) {
  .subscribe-form__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 358px;
  }
}

.subscribe-button {
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscribe-button__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}
.backdrop__is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
}

/* is-hidden */
.backdrop__is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 400ms var(--timing-function);
  transition: -webkit-transform 400ms var(--timing-function);
  transition: transform 400ms var(--timing-function);
  transition: transform 400ms var(--timing-function), -webkit-transform 400ms var(--timing-function);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  color: #000000;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.modal-btn__icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}
.modal-btn:hover, .modal-btn:focus {
  color: var(--accent-text-color);
}

/* Modal Form */
.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form__title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
  text-align: center;
}

.modal-form__input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.modal-form__field {
  display: block;
  position: relative;
}

.modal-form__lable {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding: 11px 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}
.modal-form__input:focus-within {
  border-color: var(--accent-text-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-text-color);
}

/* Form Textarea */
.modal-form__textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  resize: none;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}
.modal-form__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea:focus-within {
  border-color: var(--accent-text-color);
}

/* Form Checkbox */
.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 30px;
}

.checkbox__icon {
  display: block;
  width: 16px;
  height: 15px;
}

.checkbox__input:focus + .checkbox__icon {
  outline: 1px solid var(--title-text-color);
}

.checkbox__input:checked + .checkbox__icon .icon-uncheck {
  opacity: 0;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}

.icon-check {
  opacity: 0;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}
.checkbox__input:checked + .checkbox__icon .icon-check {
  opacity: 1;
}

.checkbox__text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox__link--color {
  color: var(--accent-text-color);
  text-underline-position: under;
}

/* Forn button */
.modal-submit-btn {
  padding: 10px 52px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: 250ms var(--timing-function);
  transition: 250ms var(--timing-function);
}
.modal-submit-btn:hover, .modal-submit-btn:focus {
  background-color: var(--btn-focus-background-color);
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: inherit;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--team-background-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.filter__btn:hover, .filter__btn:focus {
  color: var(--hero-text-color);
  background-color: var(--accent-text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-set {
  gap: var(--card-set-gap);
}

.card-set__item {
  -ms-flex-preferred-size: calc((100% - var(--card-set-gap) * (var(--item) - 1)) / var(--item));
      flex-basis: calc((100% - var(--card-set-gap) * (var(--item) - 1)) / var(--item));
}

.card-set__link {
  display: block;
  color: var(--primary-text-color);
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.card-set__link:hover, .card-set__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card {
  position: relative;
  overflow: hidden;
}
.card::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  content: "";
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}
.card-set__link:hover .card::before, .card-set__link:focus .card::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.card__desc {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--hero-text-color);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}
.card-set__link:hover .card__desc, .card-set__link:focus .card__desc {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card__wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.card__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.card__text {
  font-size: 16px;
  line-height: 1.87;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  color: var(--accent-text-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}
.logo__text--accent {
  color: #000000;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-text-color);
}
.site-nav__link--current {
  color: var(--accent-text-color);
}
.site-nav__link--current::after {
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
}

/* Contacts */
.contacts {
  gap: 50px;
}
.contacts--left-gap {
  margin-left: auto;
}
.contacts__icon {
  display: block;
  margin-right: 10px;
  fill: currentColor;
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-text-color);
}

.hero {
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero_bg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--hero-background-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
  }
}

.hero__button {
  padding: 10px 32px;
  -webkit-transition: background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--btn-focus-background-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.benefits__items {
  gap: var(--card-set-gap);
}
@media screen and (max-width: 767px) {
  .benefits__items {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .benefits__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .benefits__items .benefits__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__items .benefits__item {
    --item: 2;
    -ms-flex-preferred-size: calc((100% - var(--card-set-gap) * (var(--item) - 1)) / var(--item));
        flex-basis: calc((100% - var(--card-set-gap) * (var(--item) - 1)) / var(--item));
  }
}
@media screen and (min-width: 1200px) {
  .benefits__items .benefits__item {
    --item: 4;
    -ms-flex-preferred-size: calc((100% - var(--card-set-gap) * (var(--item) - 1)) / var(--item));
        flex-basis: calc((100% - var(--card-set-gap) * (var(--item) - 1)) / var(--item));
  }
}

.benefits__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: var(--card-set-gap);
  background-color: var(--team-background-color);
  border-radius: 4px;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .benefits__title {
    text-align: center;
  }
}

.about {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}
.about__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text-color);
  text-align: center;
}

.about-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--card-set-gap);
}
.about-items__item {
  position: relative;
}
.about-items__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 27px 0;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--hero-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  text-transform: uppercase;
}

.team {
  background-color: var(--team-background-color);
}
.team__headline {
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team__headline {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px) {
  .team__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: var(--card-set-gap);
  }
}
.team__item {
  background-color: var(--hero-text-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    --item: 2;
    -ms-flex-preferred-size: calc((100% - var(--card-set-gap) * (var(--item) - 1)) / var(--item));
        flex-basis: calc((100% - var(--card-set-gap) * (var(--item) - 1)) / var(--item));
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    --item: 4;
    -ms-flex-preferred-size: calc((100% - var(--card-set-gap) * (var(--item) - 1)) / var(--item));
        flex-basis: calc((100% - var(--card-set-gap) * (var(--item) - 1)) / var(--item));
  }
}
.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-text-color);
  text-align: center;
}
.team__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}
.team__wrapper {
  padding-top: 30px;
  padding-right: 5px;
  padding-bottom: 30px;
  padding-left: 5px;
}

.client__headline {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.16;
  color: var(--title-text-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .client__headline {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.client__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--card-set-gap);
}
.client__item {
  --item: 2;
  -ms-flex-preferred-size: calc((100% - var(--card-set-gap) * (var(--item) - 1)) / var(--item));
      flex-basis: calc((100% - var(--card-set-gap) * (var(--item) - 1)) / var(--item));
}
@media screen and (min-width: 768px) {
  .client__item {
    --item: 3;
    -ms-flex-preferred-size: calc((100% - var(--card-set-gap) * (var(--item) - 1)) / var(--item));
        flex-basis: calc((100% - var(--card-set-gap) * (var(--item) - 1)) / var(--item));
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    --item: 6;
    -ms-flex-preferred-size: calc((100% - var(--card-set-gap) * (var(--item) - 1)) / var(--item));
        flex-basis: calc((100% - var(--card-set-gap) * (var(--item) - 1)) / var(--item));
  }
}
.client__icon {
  width: 100%;
  height: 60px;
  fill: currentColor;
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: color 250ms var(--timing-function), border-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}
.client__link:hover, .client__link:focus {
  color: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--hero-text-color);
  background-color: var(--footer-background-color);
}
@media screen and (max-width: 1199px) {
  .page-footer {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (max-width: 1199px) {
  .page-footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}
.page-footer__logo--accent {
  color: var(--hero-text-color);
}
.page-footer__social--color {
  color: var(--hero-text-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.page-footer__thumb {
  margin-bottom: 60px;
}

.address {
  font-style: normal;
}

.address__link {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-text-color);
}
.address__link:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address__link:not(:last-child) {
    margin-bottom: 9px;
  }
}
.address__link--accent {
  color: var(--hero-text-color);
}

@media screen and (max-width: 767px) {
  .connect {
    margin-bottom: 60px;
  }
}
.connect__title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */