.benefits__items {
    display: flex;
    gap: var(--card-set-gap);
}

.benefits__thumb {
    display: flex;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--card-set-gap);

    background-color: var(--team-background-color);

    border-radius: 4px;
}

.benefits__icon {
    width: 70px;
    height: 70px;
}

.benefits__title {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    color: var(--title-text-color);
    text-transform: uppercase;
}