.site-nav__items {
  // display: flex;
  // gap: 50px;
  // margin-left: 93px;
}
.site-nav__link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-text-color);
    }

    &--current {
        color: var(--accent-text-color);
    }

    &--current::after {
        display: inline-block;
        content: '';

        position: absolute;
        left: 0;
        bottom: -1px;

        width: 100%;
        height: 4px;

        background-color: var(--accent-text-color);
        border-radius: 2px;
    }
}
