.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 200;

    width: 100%;
    height: 100%;

    padding: 94px 15px;

    background-color: rgba(0, 0, 0, 0.2);

    overflow-y: scroll;

    opacity: 1;
    transition: opacity 250ms var(--timing-function),
        visibility 250ms var(--timing-function);

    &__is-hidden .modal {
            transform: translate(-50%, -50%) scale(0.7);
        }
}

/* is-hidden */
.backdrop__is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    // position: absolute;
    // left: 50%;
    // top: 50%;


    // max-width: 450px;
    min-height: 609px;
    padding: 40px;

    background-color: #ffffff;
    // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    //     0px 2px 1px rgba(0, 0, 0, 0.2);
    // border-radius: 4px;

    // transform: translate(-50%, -50%) scale(1);
    // transition: transform 400ms var(--timing-function);
}

.modal-btn {
    // position: absolute;
    // top: 8px;
    // right: 8px;
    // z-index: 100;

    margin-left: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;

    color: #000000;
    background-color: transparent;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    cursor: pointer;

    transition: color 250ms var(--timing-function);

    &__icon {
            width: 18px;
            height: 18px;
    
            fill: currentColor;
        }

    &:hover,
    &:focus {
    color: var(--accent-text-color);
}
}

/* Modal Form */
.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form__title {
    display: block;
    margin-bottom: 12px;

    font-size: 20px;
    line-height: 1.15;
    color: var(--title-text-color);
    text-align: center;
}

.modal-form__input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-bottom: 20px;
}

.modal-form__field {
    display: block;
    position: relative;
}

.modal-form__lable {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}

.modal-form__input {
    width: 100%;
    height: 40px;
    padding: 11px 12px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;

    transition: border-color 250ms var(--timing-function);

&:focus-within {
        border-color: var(--accent-text-color);
    }
}

.modal-form__icon {
    position: absolute;

    top: 50%;
    left: 12px;

    width: 18px;
    height: 18px;

    transition: fill 250ms var(--timing-function);
.modal-form__input:focus+& {
        fill: var(--accent-text-color);
    }
}

/* Form Textarea */
.modal-form__textarea {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    resize: none;

    transition: border-color 250ms var(--timing-function);

&::placeholder {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }

&:focus-within {
    border-color: var(--accent-text-color);
    }
}

/* Form Checkbox */
.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 30px;
    
    @media screen and (max-width: 1199px) {
        font-size: 12px;
    }
}

.checkbox__icon {
    display: block;

    width: 16px;
    height: 15px;
}

.checkbox__input:focus+.checkbox__icon {
    outline: 1px solid var(--title-text-color);
}

.checkbox__input:checked+.checkbox__icon .icon-uncheck {
    opacity: 0;
    transition: opacity 250ms var(--timing-function);
}

.icon-check {
    opacity: 0;
    transition: opacity 250ms var(--timing-function);

.checkbox__input:checked+.checkbox__icon & {
        opacity: 1;
    }
}

.checkbox__text {
    user-select: none;
}

.checkbox__link--color {
    color: var(--accent-text-color);
    text-underline-position: under;
}

/* Forn button */
.modal-submit-btn {
    @extend %button;
    padding: 10px 52px;
    margin: 0 auto;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: 250ms var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--btn-focus-background-color);
    }
}

