.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &__item {
        display: flex;
    }
    
    &__icon {
        width: 20px;
        height: 20px;
        fill: currentColor;
    }
}



.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    color: #afb1b8;

    border-radius: 50%;

    transition: color 250ms var(--timing-function),
        background-color 250ms var(--timing-function);


    &:hover,
    &:focus {
        background-color: var(--accent-text-color);
        color: var(--hero-text-color);
    }
}